<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .messages {
      height: 500px;
      background-color: rgb(216, 216, 216);
      margin: 50px 0px 20px 0px;
    }

    #messages {
      list-style: none;
      display: block;
      padding: 0px;
    }

    .message {
      background-color: #e90052;
      color: #fff;
      padding: 10px;
      margin-bottom: 5px;
    }

    .submit-btn {
      margin-left: 10px;
    }

  </style>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <span class="navbar-brand mb-0 h1">Chat Room</span>
    </div>

  </nav>
  <div class="container">
    <div class="row">
      <div class="messages rounded-sm col-md-6">
        <ul id="messages">

        </ul>
      </div>

    </div>
    <form class="form-inline" onsubmit="event.preventDefault(); sendMsg();">
      <div class="form-group mb-2">
        <input type="text" class="form-control" id="message" placeholder="Enter your message">
      </div>
      <button type="submit" class="btn btn-primary submit-btn mb-2" >Submit</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="http://localhost:8080/socket.io.js"></script>
  <script>
    const socket = io('http://localhost:8080', {transports: ['websocket']});
    socket.on('clientConnected', function(msg) {
      console.log(msg);
    })

    socket.on('chatroom', function(msg) {
      console.log(`from server ${msg}`);
      // TODO: populate the chat message area
      $('#messages').append("<li class='message'>" + msg + "</li>")
    })

    socket.on('broadcast', function(msg) {
      console.log(`This is the message that was sent: ${msg}`);
    })

    function sendMsg() {
      var message = document.getElementById("message").value;
      console.log(`This is from HTML ${message}`);
      socket.emit('chatroom', message)
    }

    function broadcast() {
      socket.emit('broadcast','This is a broadcast message')
    }
  </script>
</body>

</html>